.planner-grid {
    max-height: 100%;
}

.planner-container {
    background-color: white;
    max-height: 100%;
    overflow: auto;
}

.planner-item {
    display: flex;
    align-items: center;
}

.planner-item-text {
    font-size: 32px;
}