.save-route-modal-box {
    max-width: 1200px;
    width: 90vw;
    height: 70%;
    position: relative;
    top: 15%;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Epilogue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' !important;
}