.book-modal-table-container {
    overflow: auto;
    max-height: calc(100% - 48px);
    height: 100%;
}

.book-modal-table {
    height: 100%;
}

.book-modal-table-header-text {
    font-weight: 900 !important;
    font-size: 24px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Epilogue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' !important;
}

.book-modal-table-number-text {
    font-weight: 900 !important;
    font-size: 20px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Epilogue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' !important;
}

.book-modal-table-trip-text {
    font-weight: 900 !important;
    font-size: 16px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Epilogue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' !important;
}

.book-modal-table-footer-box {
    height: 100% !important;
}

#book-modal-table-footer {
    border-bottom: none;
}

#book-modal-table-footer > div {
    flex-direction: column;
    padding: 0;
    height: 100%;
}

.book-modal-edit-button {
    background-color: yellow !important;
    color: black !important;
    border: 2px solid black !important;
    border-radius: 10px !important;
}

.book-modal-delete-button {
    background-color: rgb(170, 27, 27) !important;
    color: black !important;
    border: 2px solid black !important;
    border-radius: 10px !important;
}