.header-modal-box {
    max-width: 1200px;
    width: 90vw;
    height: 70%;
    position: relative;
    top: 15%;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Epilogue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' !important;
}

.close-modal-icon {
    color: red;
    font-size: 32px !important;
}

.change-modal-icon {
    font-size: 32px !important;
    color: green;
}

.close-modal-button {
    font-size: large;
    position: relative;
    left: calc(100% - 32px);
    bottom: 10px;
}